@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "OriginTech";
    src: url("/fonts/OriginTech.ttf");
}

body {
    background-color: #000;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #ff156f;
}

.hp-logo {
    max-width: 50%;
}